/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

#app {
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 100vw;
  transition-property: width;
  transition-duration: 0.5s;
}

#app.sidebar {
  width: 60vw;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40vw;
  right: 0;
  transform: translateX(100%);
}
